body { 
      background-color : darkseagreen ; 
	  border: medium dotted black
	  }
p   { background-color : powderblue ; 
      color : black ;
	  font:  small-caps medium cursive;
	}
ul { 
      list-style-type: none;
       margin: 0;
        padding: 0;
	font : 1.7em "Courier New" ;
      }
 h2 { 
      font : 2em "Courier New" ;
 }
